@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap');

:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}

.container {
    background-color: white;
    box-shadow: 8px 8px 0px 0px rgba(1, 1, 1, 1);
    border: 1.9px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 1.25em;
    margin: 1.5em;
    padding: 1.2em 1.2em 0.7em;
}

figure {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.illustration {
    margin-bottom: 1.2em;
    border-radius: 1em;
    width: 100%;
}

p {
    line-height: 180%;
}

.learning-label {
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    padding: 0.2em 0.7em;
    margin: 0 0 0.75em;
    display: inline-block;
    background-color: hsl(47, 88%, 63%);
    border-radius: 0.25em;
}

.date {
    margin: 0 0 0.75em;
    font-size: 0.68rem;
}

.header {
    font-family: 'Figtree', sans-serif;
    font-weight: 800;
    font-size: 1rem;
}

p.description {
    font-family: 'Figtree', sans-serif;
    color: hsl(0, 0%, 50%);
    font-size: 0.67rem;
}

footer {
    display: flex;
    align-items: center;
}

.author {
    width: 1.5em;
    height: 1.5em;
}

footer p {
    padding-left: 0.75em;
    font-weight: 800;
    font-size: 0.8rem;
}

@media only screen and (min-width:400px) and (max-width:1024px) {
    .container {
        width: 20em;
        height: 31em;
        box-shadow: 10px 10px 0px 0px rgba(1, 1, 1, 1);
    }

    .illustration {
        border-radius: 1em;
    }

    .learning-label {
        font-size: .9rem;
    }

    .date {
        font-size: .9rem;
    }

    .header {
        font-size: 1.2 rem;
        margin-bottom: 0.4em;
    }

    p.description {
        font-size: .9rem;
    }

    .author {
        width: 2.3em;
        height: 2.3em;
    }

    footer p {
        font-size: 1rem;
    }
}


@media only screen and (min-width: 1025px) {
    .container {
        width: 28rem;
        height: 39rem;
        box-shadow: 12px 10px 0px 0px rgba(1, 1, 1, 1);
        padding: 2em;
        border-radius: 1em;
    }

    .illustration {
        border-radius: .8em;
    }

    .learning-label {
        margin-top: 0.5em;
        font-size: 1.3rem;
    }

    p {
        line-height: 140%;
    }

    .date {
        font-size: 1.2rem;
    }

    .header {
        font-size: 1.5rem;
        margin-bottom: 0.3em;
    }

    .header:hover {
        color: hsl(47, 88%, 63%);
        cursor: pointer;
    }

    p.description {
        font-size: 1.25rem;
        line-height: 130%;
        margin-bottom: 0.5em;
        margin-top: 10px;
    }

    .author {
        width: 3em;
        height: 3em;
    }

    footer p {
        font-size: 1.75rem;
    }
}